In [1]:
# importing libraries

import pandas as pd
from sklearn import tree

In [2]:
df = pd.read_csv('dataset/shop data.csv')

In [3]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

## Spliting the dataset

In [8]:
x = df.iloc[:,:-1]
# x

In [7]:
y = df.iloc[:,-1]
# y

## Data Preprocessing

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le = LabelEncoder()

In [11]:
x = x.apply(LabelEncoder().fit_transform)
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

## Model Fit

In [12]:
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [13]:
dectr = tree.DecisionTreeClassifier()

In [14]:
classify = dectr.fit(x,y)

In [15]:
test = np.array([1,1,0,0])

In [17]:
pred = classify.predict([test])
pred

array(['yes'], dtype=object)